

table{

    margin: auto;
}


h1{

text-align: center;


}

#tr1{

    text-align: center;
    height: 150px;
    /* width: 30px; */

    /* background-color: aqua; */


}


.column{
    
    
    width: 70px;
    border-style: solid;
    border-color: blue;
    border: 1px solid;
    
    background-color:burlywood;
    

}

/* .column */

.col1{
    background-color:#247E9C;

}

.col2{
    background-color:#5EA8C1;

}

.col3{
    background-color:#FFFFE2;

}

.col4{
    background-color:#FF5647;

}
