
div {
        background-color: rgb(0, 255, 30);
    }


.firstDiv{
    color: black;
}

.secondDiv{
    color:blue;
}


#singledout{
    color: green;
    text-decoration: line-through;



}


*{

    color:blueviolet;

}


