/* div{
    color: cornflowerblue;
    font-weight: bold;
    font-size: x-large;

} */


.firtDiv {
    color: cornflowerblue;
    font-weight: bold;
    font-size: x-large;

} 

.secondDiv{
    color:darkcyan ;
    font-weight: bold ;
    font-size: x-large ;

} 

#uniqueid{

    text-decoration: purple;

}

h3 + ul {

border: 4px dotted purple;


}

li a{

    color:red  ;
}

li a[href="https://markaz.in/" ] {
    color: blue;
    
}