#two{

    font-family: 'Righteous', cursive;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */


} 

h1{
    font-family: 'ModuloRegular';
    font-weight: normal;
    font-style: normal; 
}